name: 'GitHub Release'

on:
  push:
    branches:
      - 'master'

permissions:
  contents: write

jobs:
  release:
    name: Create Release

    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: |
            [CHANGELOG](https://github.com/bastouf/vaultwarden-backup/blob/master/CHANGELOG.md)
